#shopping {
  padding: 50px 0;
  text-align: center;
  color: #1d1d1d;
  .title {
    font-size: 36px;
    font-weight: 700;
    padding: 20px 0;
  }
  .search {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px 0;
    .key-search {
      padding: 15px 50px;
      background: #F2F4F8;
      border: none;
      color: #000;
      border-radius: 12px;
      font-size: 20px;
      font-weight: 500;
      @media (max-width: 576px) {
        padding: 10px 20px;
      }
    }
    .btn-search {
      background: #FF7A00;
      border-radius: 12px;
      color: #fff;
      font-size: 18px;
      font-weight: 500;
      padding: 10px 15px;
    }
  }
  .load-more {
    margin: 50px 0;
    background: #555555;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
  }
}