#product {
  width: 100%;
  text-align: center;
  cursor: pointer;
  .img-product {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  .name-product {
    color: #1D1D1D;
    font-size: 16px;
    font-weight: 700;
  }
  .price-product {
    color: #024E82;
    font-size: 16px;
    font-weight: 600;
  }
}