.login {
  width: 50%;
  margin: 0 auto;
  padding-top: 100px;
  .login-form {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;

      .input-cpt {
          font-size: 14px;
          padding-top: 10px;
          width: 100%;

          .label-wrapper {
              margin-bottom: 10px;

              .label {
                  font-weight: 600;
                  line-height: 20px;
                  color: #313334;
                  background: inherit;
              }
          }

          .input-field {
              width: 100%;
              height: 50px;
              background-color: #f2f5fd;
              border-radius: 5px;
              border: none;
              padding: 0 20px;
              outline: none;
          }
      }

      .btn-submit {
          background: #19CE7A;
          color: #fff;
          font-weight: 700;
          box-shadow: 0px 4px 15px rgba(25, 206, 122, 0.7);
          font-size: 20px;
          text-transform: uppercase;
          border: none;
          border-radius: 40px;
          width: 200px;
          margin-top: 20px;
          padding: 10px;
          cursor: pointer;
      }
  }
  @media (max-width: 768.98px) {
      width: 100%;
  }
}