#banner {
  background-image: url(/assets/img/banner.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 600px;
  text-align: center;
  text-transform: uppercase;
  font-size: 42px;
  font-weight: 800;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  @media (max-width: 576px) {
    height: 350px;
  }
  h2 {
    margin: 0;
    color: #fff;
    @media (max-width: 576px) {
      font-size: 35px;
    }
  }
}