#service-shop {
  .freeship {
    padding: 150px 0;
    text-align: center;
  }
  .highlight {
    padding-bottom: 50px;
    .highlight-item {
      background: #000;
      text-align: center;
      color: #fff;
      padding: 100px 0;
      .title {
        font-size: 32px;
        font-weight: 400;
        text-transform: uppercase;
      }
      .content {
        font-size: 18px;
        font-weight: 400;
      }
    }
  }
}