#product-detail {
  padding: 50px 0;
  .product-name {
    color: #1d1d1d;
    font-size: 36px;
    font-weight: 700;
    margin: 0;
    padding: 20px 0;
  }
  .product-rating {
    padding: 10px 0;
  }
  .product-price {
    color: #024E82;
    font-size: 24px;
    font-weight: 400;
  }
  .product-desc {
    color: #555555;
    font-size: 16px;
    font-weight: 400;
    padding: 15px 0;
  }
  .add-cart {
    background: #F2994A;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    border-radius: 3px;
    padding: 15px 20px;
  }
}