#cart {
  color: #000;
  .list-product {
    width: 50%;
    padding: 50px 0;
    .title {
      display: flex;
      justify-content: space-between;
      font-size: 20px;
      font-weight: 700;
      border-bottom: 1px solid #ebebeb;
    }
    .product-detail {
      display: flex;
      justify-content: space-between;
      font-weight: 700;
      border-bottom: 1px solid #ebebeb;
      padding: 15px 0;
    }
    @media (max-width: 768.98px) {
      width: 100%;
    }
  }
  .cart-total {
    width: 50%;
    .title-cart-total {
      font-size: 36px;
      font-weight: 700;
    }
    .content {
      .content-item {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #ebebeb;
        padding: 10px 0;
        .title {
          font-weight: 400;
          font-weight: 16px;
          color: #555;
        }
        .money {
          font-weight: 400;
          font-weight: 16px;
          color: #1d1d1d;
        }
      }
    }
    .btn-checkout {
      margin-top: 20px;
      background: #D6763C;
      padding: 15px;
      width: fit-content;
      a {
        color: #fff;
      }
    }
    @media (max-width: 768.98px) {
      width: 100%;
    }
  }
}