#check-out {
  .title {
    font-size: 36px;
    font-weight: 700;
  }
  .bill-detail {
    width: 50%;
    .input-cpt {
      font-size: 14px;
      padding-top: 10px;
      width: 100%;

      .label-wrapper {
        margin-bottom: 10px;

        .label {
          font-weight: 600;
          line-height: 20px;
          color: #313334;
          background: inherit;
        }
      }

      .input-field {
        width: 100%;
        height: 50px;
        border-radius: 5px;
        border: 1px solid #ebebeb;
        padding: 0 20px;
        outline: none;
      }
    }
    @media (max-width: 768.98px) {
      width: 100%;
    }
  }
  .your-order {
    padding: 50px 0;
    width: 50%;
    .total {
      display: flex;
      justify-content: space-between;
      font-size: 16px;
      font-weight: 700;
    }
    @media (max-width: 768.98px) {
      width: 100%;
    }
  }
  .btn-payment {
    background: #D6763C;
    width: fit-content;
    padding: 15px 25px;
    display: flex;
    text-align: right;
    color: #fff;
  }
}