@import "./fonts/Poppins.scss";
@import url('https://pro.fontawesome.com/releases/v5.15.4/css/all.css');


* {
  box-sizing: border-box;
  font-family: "Poppins";
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 190px;
}

body {
  margin: 0;
  padding: 0;
  background: #fff;
}