#top-seller {
  text-align: center;
  .title-seo {
    color: #1D1D1D;
    font-size: 36px;
    font-weight: 700;
  }
  .content-seo {
    color: #555555;
    font-size: 20px;
    font-weight: 400;
  }
}